body{
    background-image: url(img.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
}
.body{
    margin: 0px;
    padding: 0px;
    height: 768px;
}
.titulo{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    height: 50px;
    margin: 0;
    padding: 0;
}
.logo{
    width: 50px;
    height: 50px;
}
.subtitulo{
    color: white;
    background-color: rgba(0, 0, 0, 0.322);
    display: flex;
    justify-content: center;
    height: 50px;
    margin: 0;
}
.videos{
    margin: 0;
    padding: 0;
}
.textovideo{
    color: white;
    background-color: rgba(0, 0, 0, 0.198);
    display: flex;
    height: 50px;
    margin: 0;
    padding: 10px;
}
.adan{
    width: 380px;
    height: 380px;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0;
}
.luis{
    width: 380px;
    height: 380px;
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0;
}
.josca{
    width: 380px;
    height: 380px;
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0;
}